@charset "utf-8";

$base-font-family: "Averia Serif Libre", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fefefe;
$brand-color:      #1fca4e;

$gray-color:       #c0c0c0;
$light-gray-color: #ececec;

$content-width:    800px;

$mobile-medium:    375px;
$mobile-large:     425px;
$tablet-small:     650px;
$tablet:           750px;
$laptop:           1024px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import
  "civicly/reset",
  "civicly/base",
  "civicly/layout",
  "civicly/home"
;
