@charset "utf-8";

$base-font-family: "Averia Serif Libre", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: rgba(246, 178, 21, 0.08);

$color:            rgba(0, 0, 0, 0.25);
$light-color:      rgba(239, 200, 169, 0.29);

$content-width:    800px;

$mobile-medium:    375px;
$mobile-large:     425px;
$tablet-small:     650px;
$tablet:           750px;
$laptop:           1024px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import
  "civicly/reset",
  "civicly/base",
  "civicly/layout",
  "civicly/home"
;
