#overview {
  display: flex;
  align-items: center;
  margin-top: $spacing-unit * 1.5;
  margin-bottom: $spacing-unit * 2.5;
  margin-right: auto;
  margin-left: auto;
  width: 18em;

  @include media-query($mobile-medium) {
    width: 20em;
  }

  @include media-query($mobile-large) {
    width: 24em;
  }

  @include media-query($tablet-small) {
    width: 28em;
  }

  @include media-query($tablet) {
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 3;
    width: 32em;
  }
}

#conversation {
  height: 15rem;

  @include media-query($mobile-large) {
    height: 18rem;
  }

  @include media-query($tablet-small) {
    height: 21rem;
  }

  @include media-query($tablet) {
    height: 24rem;
  }
}

#points {
  list-style: none;
  margin-bottom: 0;
  margin-left: $spacing-unit / 1.5;

  @include media-query($mobile-medium) {
    margin-left: $spacing-unit;
  }

  @include media-query($tablet) {
    margin-left: $spacing-unit * 1.5;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    margin-bottom: 0;
    font-size: $small-font-size;

    @include media-query($mobile-large) {
      height: 6rem;
      font-size: inherit;
    }

    @include media-query($tablet-small) {
      height: 7rem;
    }

		@include media-query($tablet) {
      @include relative-font-size(1.25);
			height: 8rem;
		}
  }
}

.call {
  @include relative-font-size(1.125);
  margin-top: 0;
  margin-bottom: $spacing-unit / 2;

  @include media-query($mobile-large) {
    @include relative-font-size(1.5);
  }

  @include media-query($tablet) {
    @include relative-font-size(1.75);
  }
}

.action {
  @include relative-font-size(3);
  margin-top: 0;
  margin-bottom: $spacing-unit / 2;

  @include media-query($mobile-large) {
    @include relative-font-size(3.25);
  }

  @include media-query($tablet) {
    @include relative-font-size(4);
  }
}
