---
layout: page
title: FAQ
permalink: /faq/
---

<header>
  <h3 class="centered title">F.A.Q.</h3>
</header>

<h1 class="section">Basics</h1>

<h3 class="question" data-class="question">What is civicly?</h3>

<div class="answer" data-class="answer">
  <p>civicly is civic, civil conversation. The kind democracy was founded on.</p>

  <p>More concretely, civicly is a text message-based service that connects Americans
  for 1:1 conversations about our country.</p>
</div>

<h3 class="question" data-class="question">Why does it exist?</h3>

<div class="answer" data-class="answer">
  <p>I built civicly because I believe we have a serious problem—we’ve become far too
  divided as a country. Democracy means disagreement, but it doesn’t mean we have to
  treat each other like enemies.</p>

  <p>One of the biggest roots of this division is “informational isolation.” It’s all too
  common to have our opinions echoed back to us by the media we consume, by our friends
  (and our Facebook friends), and even by where we live. And it’s all too easy to end up
  in an informational bubble that limits what we’re able to see.</p>

  <p>These bubbles isolate us, and cause us to drift apart, becoming more and more sure
  that what we are seeing is the truth and that anyone who sees things differently must be
  crazy. This has weakened our democracy, which requires a foundation of trust, respect,
  and some degree of mutual understanding.</p>

  <p>There’s a simple solution to this problem—we need to start talking to each other
  again.</p>
</div>

<h3 class="question" data-class="question">How does it work?</h3>

<div class="answer" data-class="answer">
  <p>Upon signing up, you’ll receive a welcome text from a (630) number. This is civicly.
  You interact with civicly via text message.</p>

  <p>Within a few days of signing up, civicly will randomly connect you with another
  American—your first conversation partner. You’ll know you’re connected when you get
  a couple messages that look like this:</p>

  <blockquote>
    <p>[civicly] Now connected to Ben S, your compatriot for the next 4 days. Say hi!</p>
    <br>
    <p>Remember, we're all here for civic, civil conversation.</p>
  </blockquote>

  <blockquote>
    <p>[civicly] Here's a question to get you started:</p>
    <br>
    <p>How are we doing as a country?</p>
  </blockquote>

  <p>Once you’re connected, any texts you send to civicly will automatically be forwarded
  to your partner. Texts that your partner sends to civicly will be forwarded on to you.
  You know a text is from your partner when—unlike the system messages above—it
  <em>doesn’t</em> start with [civicly].</p>

  <p>Over the next 4 days, you and your compatriot have the opportunity to talk,
  citizen-to-citizen, about whatever you decide needs talking about. The best conversations
  often occur after someone asks an open, honest question.</p>

  <p>At the end of the 4 days, civicly disconnects you from your partner. Then there’s a
  3-day break before you’re connected to someone new.</p>

  <p>By making a habit out of these conversations, you expose yourself to the real range of
  views and experiences your fellow Americans have, and engage in the kind of civic
  conversation democracy depends on.</p>
</div>

<h3 class="question" data-class="question">How do I join?</h3>

<div class="answer" data-class="answer">
  <p>civicly is currently in beta. To join, send an email to ben@civicly.us with the word
  “Join” in the subject.</p>
</div>

<h1 class="section">Concerns</h1>

<h3 class="question" data-class="question">Won’t I just get yelled at?</h3>

<div class="answer" data-class="answer">
  <p>Valid concern. Talking heads yell at each other on TV, commenters yell at each
  another on the internet, family members have been known to yell at each other on
  Thanksgiving! Why would civicly be any different?</p>

  <p>First, because civicly sets out to be different.</p>

  <p>Every person you connect with on civicly has made the same promise—to communicate
  using respect. Every interaction you have begins with a reminder that civicly
  conversations are two things: civic and civil. The whole idea is to establish a
  space where we can talk to each other like citizens.</p>

  <p>And second, because civicly is structured differently than those other forums.</p>

  <p>Political discussions on the internet tend to get nasty because it’s too easy to
  forget the person behind the comment. When you’re connected with someone on civicly,
  you see each other’s names (e.g., Ben S), you begin by introducing yourselves, and for
  4 days you have a direct connection to each other.</p>

  <p>Political discussions on TV (or even at Thanksgiving dinner) tend not to get anywhere
  because of the effect an audience can have. civicly conversations are 1:1, so there’s no
  one to impress, and no one to cheer on uncivil behavior.</p>
</div>

<h3 class="question" data-class="question">Is my phone number shared with my partner?</h3>

<div class="answer" data-class="answer">
  <p>No. Your conversation partner will only see your first name and last initial (e.g., Ben
  S).</p>
</div>

<h3 class="question" data-class="question">How much of a commitment is civicly?</h3>

<div class="answer" data-class="answer">
  <p>It’s up to you! civicly is designed to be something we can all participate in,
  regardless of how busy we may be.</p>

  <p>You don’t need to write essays to your conversation partner, or be in constant
  communication throughout the 4 days. Far from it! We all have lives, and everyone has a
  different schedule.</p>

  <p>If you exchange a thought or two with your partner during the time you’re connected,
  that’s enough!</p>

  <p>Of course, if you and your conversation partner have the time for a more in-depth
  discussion, that conversation might be especially rewarding.</p>

  <p>The most important thing is to stick with it. civicly is less about any single
  conversation and more about the cumulative effect of the exchanges you have over
  time.</p>
</div>

<h1 class="section">Conversations</h1>

<a href="/tips"><h3 class="question">Conversation tips</h3></a>

<h1 class="section">Other questions</h1>

<h3 class="question" data-class="question">Why do some texts have [civicly] at the front?</h3>

<div class="answer" data-class="answer">
  <p>Texts that start with [civicly] are system messages, as opposed to messages sent by your
  conversation partner. One example is the text you get to notify you that you’ve been
  connected with a new partner:</p>

  <blockquote>
    <p>[civicly] Now connected to Ben S, your compatriot for the next 4 days. Say hi!</p>
    <br>
    <p>Remember, we're all here for civic, civil conversation.</p>
  </blockquote>

  <p>Unlike messages sent by your partner, you can’t respond to [civicly] messages directly.
  If you have a question, problem, or idea for civicly, please email me at ben@civicly.us</p>
</div>

<h3 class="question" data-class="question">What’s an “engagment level”?</h3>

<div class="answer" data-class="answer">
  <p>Your engagement level gives you a sense of how active you’ve been lately. civicly sends
  it out to you at the end of every round.</p>

  <p>It’s based on the number of your last 5 conversations where you reached out to your
  conversation partner within 24 hours of the start of the round. The first message is always
  the toughest, but it’s also the most important. The engagement level indicator is meant to
  provide a bit of encouragement in a not-too-serious way.</p>

  <p>Here’s the list of possible values:</p>

  <table>
    <tr>
      <td>0</td>
      <td>☁️</td>
    </tr>
    <tr>
      <td>1</td>
      <td>🌥</td>
    </tr>
    <tr>
      <td>2</td>
      <td>⛅️</td>
    </tr>
    <tr>
      <td>3</td>
      <td>🌤</td>
    </tr>
    <tr>
      <td>4</td>
      <td>☀️</td>
    </tr>
    <tr>
      <td>5</td>
      <td>???</td>
    </tr>
  </table>

  <p>If you just joined civicly, you’ll see a 🐣 until you’ve had your first 5 conversations.</p>
</div>

<h3 class="question" data-class="question">Can I send pictures/videos?</h3>

<div class="answer" data-class="answer">
  <p>civicly doesn’t support picture/video messages, but you could always send your partner a
  link to the content you want to share.</p>

  <p>Emoji are fair game too 😄</p>
</div>

<h3 class="question" data-class="question">What’s the deal with the news headlines?</h3>

<div class="answer" data-class="answer">
  <p>During a conversation, civicly occasionally sends out news headlines. They look
  something like this:</p>

  <blockquote>
    <p>[civicly] (Reuters) U.S. warns public about attacks on energy, industrial firms
    goo.gl/DGNfhm</p>
  </blockquote>

  <p>Each one is the Reuters top story at the time it is sent. That odd-looking URL at the
  end is just a Google-shortened link to the article.</p>

  <p>Should you read the linked article? Up to you! civicly sends these out simply as a
  (potential) spark to conversation. If a headline grabs you in some way, say something to
  your partner about it!</p>

  <p>Powered by <a href="https://newsapi.org">News API</a>.</p>
</div>

<h1 class="section">How to’s</h1>

<h3 class="question" data-class="question">I have a question/problem/idea. How do I get in touch with you?</h3>

<div class="answer" data-class="answer">
  <p>Shoot me an email! I can be reached at ben@civicly.us</p>
</div>

<h3 class="question" data-class="question">How do I quit?</h3>

<div class="answer" data-class="answer">
  <p>Text "Stop" to civicly to have your account immediately and permanently deleted.</p>
</div>
