---
layout: base
---
<main aria-label="Content">
  <div id="overview">
    <img id="conversation" src="/assets/conversation.png">
    <ul id="points">
      <li>1:1 conversations with your fellow Americans</li>
      <li>Your phone number stays private</li>
      <li>All via text message</li>
    </ul>
  </div>

  <a href="/about" class="no-underline">
    <h3 class="centered call">Your democracy needs you.</h3>
    <h1 class="centered action">Dare to be a citizen.</h1>
    <h1 class="centered action">↠</h1>
  </a>
</main>
